.container
  #vacations.transitions-enabled
    -@vacations.each do |vacation|
      .box.panel.panel-default
        = link_to (image_tag vacation.image.url(:medium)), vacation
        .panel-footer
          %p
          = link_to vacation.title, vacation
          %p
          = image_tag vacation.user.image.url(:small)
          = vacation.user.username
          |
          .glyphicon.glyphicon-heart
          = vacation.get_upvotes.count
