%section.center-block#vacation-search
  %header Search goes here
  %input{:type => "text"}
  %button.btn.btn-primary Search

-# .text-center
-#   - if params[:q] !=nil
-#     = @vacation['title']
-#     = @picture['image_url']
    -# %img.

.container
  #vacations.transitions-enabled
    -@vacations.each do |vacation|
      .box.panel.panel-default
        = link_to (image_tag vacation.image.url(:medium)), vacation
        .panel-footer
          %p
          = link_to vacation.title, vacation
          %p
          = image_tag vacation.user.image.url(:small)
          = vacation.user.username
          |
          .glyphicon.glyphicon-heart
          = vacation.get_upvotes.count

:javascript
  $(document).ready(function () {
    //$('#vacation-search button').click(function () {
      //console.log("Button clicked");
      //});

      //$(document.body.section).append("<p class='.p>Hello!</p>");
      //$(this).html("Nice!");

      var vacation = {$("#vacation-search").val() }

      var request = $.ajax({
      dataType: 'json',
      type: 'GET',
      url: '/api/v1/users/vacations/',
      data: description
      });

      request.done( function(data) {
      console.log("Sucess!")
      console.log(data)
      printSearchResults(data)
      })

      request.fail(function(data) {
      console.log("Failed!");
      console.log(data);
      })

      request.always(function(data) {
      console.log("Request was run.");
      })

    //});

  });
