<div class="row vacation-show">
  <div class="col-md-4 col-md-offset-4">
    <div>
    	<%= image_tag @vacation.image.url(:medium) %>
      <h1><%= @vacation.title %></h1>
    	<p><%= @vacation.total_cost %>
    	<%= @vacation.total_people %></p>
    	<p><%= @vacation.description %></p>  	
    </div>
    <div id="vacation-options">
      <%= link_to "Edit", edit_vacation_path %>
      <%= link_to "Delete", @vacation, method: :delete, data: {confirm: "'Sure you want to delete this memory?"} %>
      <%= link_to "Profile", user_path %>
      <%= link_to "Back", vacations_path %>
    </div>
  </div>
</div>