<div class="signup col-md-6 col-md-offset-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>Sign Up</h1>
		</div>
		<div class="panel-body">
			<%= simple_form_for @user, html: { multipart: true } do |f| %>
				<%= f.input :image %>
				<%= f.input :username, placeholder: "Username" %>
				<%= f.input :email, placeholder: "Email" %>
				<%= f.input :password, placeholder: "Password", hint: "No Special Characters" %>
				<%= f.input :password_confirmation, placeholder: "Confirm Password" %>
				<%= f.button :submit %>
			<% end %>
			<%= button_to "Back", root_path, :class => "button-primary", :method => :get  %>
		</div>
	</div>
</div>
