
<div id="slide1">
	<!-- Logo Box -->
	<div class="jumbotron" id="logobox">
		<h1 id="welcomelogo">SendMe Logo</h1>
	</div>

	<div id="fronttitle">
		<h1>SendMe</h1>
		<br/>
		<p>We help you save up for life's greatest adventures, vacations!</p>
		<br/>
		<button>Start Planning Your Next Vacation Now!</button>
	</div>
<!-- checking the weather from open weather -->
<div class="text-center">
<h1>Check the weather in your vacation spot</h1>
</div>
<div class="text-center" id="search_location">
	<% if params[:q] !=nil %>
		<%= @weather['name'] %>
		<%= @weather["weather"][0]["description"] %>
		<%= @degree_f %>&deg;F
		<div id="icon">
		<img src="<%= "http://openweathermap.org/img/w/#{@picture}.png" %>" class = "img-responsive center-block weather-pic">
		</div>
	<% end %>
	<div class="search-input">
	<%= form_tag root_path, method: 'get' do %>
		<%= text_field_tag(:q, nil, placeholder:'I want to go to..') %>
		<%= submit_tag "search", class: "btn btn-primary" %>
	<% end %>
	</div>
</div>



</div>

<div id="slide2">
	<h2 class="text-center" id="how">How it works</h2>
	<div class="center">
		<div class="row">
			<div class="col-md-4">
				<div class="text-center">
					<%= image_tag("sunbathing.png", :alt => "sunbathing", :height => "200px") %>
					<h3>Step 1</h3>
					<p>View other users vacations!</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<%= image_tag("paypal.png", :alt => "paypal", :height => "200px") %>
					<h3>Step 2</h3>
					<p>Create a savings plan!</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<%= image_tag("plane.png", :alt => "plane", :height => "200px") %>
					<h3>Step 3</h3>
					<p>Save for the vacation and go!</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="slide3">
	<h2 class="text-center" id="testimonials">Testimonials</h2>
	<div class="center">
		<div class="row">
			<div class="col-md-4">
				<div class="text-center">
					<%= image_tag("face.png", :alt => "face", :height => "200px") %>
					<h3>Insert Name</h3>
					<p>Occupy deep v keytar, PBRB meditation DIY drinking vinegar Pinterest direct trade listicle tilde paleo 90's try-hard. Freegan kale chips gluten-free, blog slow-carb cliche craft beer 8-bit Thundercats street art Intelligentsia wolf +1 paleo.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<%= image_tag("face.png", :alt => "face", :height => "200px") %>
					<h3>Insert Name</h3>
					<p>Occupy deep v keytar, PBRB meditation DIY drinking vinegar Pinterest direct trade listicle tilde paleo 90's try-hard. Freegan kale chips gluten-free, blog slow-carb cliche craft beer 8-bit Thundercats street art Intelligentsia wolf +1 paleo.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<%= image_tag("face.png", :alt => "face", :height => "200px") %>
					<h3>Insert Name</h3>
					<p>Occupy deep v keytar, PBRB meditation DIY drinking vinegar Pinterest direct trade listicle tilde paleo 90's try-hard. Freegan kale chips gluten-free, blog slow-carb cliche craft beer 8-bit Thundercats street art Intelligentsia wolf +1 paleo.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="slide4">
	<div id="button">
		<button>Start Planning Your Next Vacation Now!</button>
	</div>
</div>
