<div id="slide1">
	<!-- Logo Box -->
	<div id="logobox">
		<h1 id="welcomelogo"><%= image_tag("unnamed.png", :alt => "face", :height => "400px", :width => "500px") %></h1>
	</div>

	<div id="fronttitle">
		<h2><strong>We help you save up for life's greatest adventures, vacations!</strong></h2>
		<br/>
		<%= link_to "Start Planning Your Next Vacation Now!", new_user_path, class: "mainbtn btn btn-primary" %>
	</div>
<!-- checking the weather from open weather -->
<div class="text-center">
<br/>
<h5>Check the weather in your vacation spot</h5>
</div>
<div class="text-center" id="search_location">
	<% if params[:q] !=nil %>
		<%= @weather['name'] %>
		<%= @weather["weather"][0]["description"] %>
		<%= @degree_f %>&deg;F
		<div id="icon">
		<img src="<%= "http://openweathermap.org/img/w/#{@picture}.png" %>" class = "img-responsive center-block weather-pic">
		</div>
	<% end %>
	<div class="search-input">
	<%= form_tag root_path, method: 'get' do %>
		<%= text_field_tag(:q, nil, placeholder:'    I want to go to..') %>
		<%= submit_tag "Search", class: "btn btn-primary" %>
	<% end %>
	</div>
</div>

</div>

<div id="slide2">
	<h2 class="text-center" id="how">How it works</h2>
	<div class="center">
		<div class="row">
			<div class="col-md-4">
				<div class="text-center">
					<%= image_tag("sunbathing.png", :alt => "sunbathing", :height => "200px") %>
					<h3>Step 1</h3>
					<p>View other users vacations!</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<%= image_tag("paypal.png", :alt => "paypal", :height => "200px") %>
					<h3>Step 2</h3>
					<p>Create a savings plan!</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<%= image_tag("plane.png", :alt => "plane", :height => "200px") %>
					<h3>Step 3</h3>
					<p>Save for the vacation and go!</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="slide3">
	<h2 class="text-center" id="testimonials">Testimonials</h2>
	<br/>
	<div class="center">
		<div class="row">
			<div class="col-md-4">
				<div class="text-center">
					<%= image_tag("keef.jpg", :alt => "face", :height => "200px") %>
					<h3>Chief Keef</h3>
					<p>"I been ballin' so damn hard I swear I think that I'm Kobe."</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<%= image_tag("randy.jpeg", :alt => "face", :height => "200px") %>
					<h3>Randy Moss</h3>
					<p>"Straight Cash Homie"</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<%= image_tag("cr7.jpg", :alt => "face", :height => "200px") %>
					<h3>Cristiano Ronaldo</h3>
					<p>"People jeer me because I'm good-looking, rich, and a great player."</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="slide4">
	<div id="button">
		<%= link_to "Start Planning Your Next Vacation Now!", new_user_path, class: "mainbtn btn btn-primary" %>
	</div>
</div>

